body {
  margin: 0;
  padding: 0;
  font-family: 'Alice', sans-serif;
  background-size: cover;
  background-position: center;
  transform: translateZ(0);
}

@font-face {
  font-family: 'Alice2';
  src: url(/assets/fonts/IMFeENsc28P.ttf) format('truetype');
}

@font-face {
  font-family: 'Alice';
  src: url(/assets/fonts/alice.ttf) format('truetype');
}

@keyframes spaceboots {
  0% {
    transform: translate3d(0.6px, 0.2px,0) rotateZ(0deg);
  }
  10% {
    transform: translate3d(-0.2px, -0.6px,0) rotateZ(-0.08deg);
  }
  20% {
    transform: translate3d(-3px, 0px,0) rotateZ(0.08deg);
  }
  30% {
    transform: translate3d(0px, 0.6px,0) rotateZ(0deg);
  }
  40% {
    transform: translate3d(0.2px, -0.2px,0) rotateZ(0.08deg);
  }
  50% {
    transform: translate3d(-0.2px, 0.6px,0) rotateZ(-0.08deg);
  }
  60% {
    transform: translate3d(-3px, 0.2px,0) rotateZ(0deg);
  }
  70% {
    transform: translate3d(0.6px, 0.2px,0) rotateZ(-0.08deg);
  }
  80% {
    transform: translate(-0.2px, -0.2px) rotate(0.08deg);
  }
  90% {
    transform: translate(0.6px, 0.6px) rotate(0deg);
  }
  100% {
    transform: translate(0.2px, -0.6px) rotate(-0.08deg);
  }
}