.countdown {
    font-family: 'Alice';
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 210px;
    text-shadow: 0 0 26px #505050;
    /* opacity: 0.75; */
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}