.loading {
    transition: 500ms all ease-in-out;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading::before {
    content: "";
    background-color: black;
}

.loading-hidden {
    opacity: 0;
}