.photo {
    max-height: 90vh;
    max-width: 90vw;
    box-shadow: 0 0 100px 10px #505050;
    /* animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    /* opacity: 0.75; */
}